.modal
  <select class="seasonType" name="seasonType" style="width: 100%">
    <option value="all">All</option>
    <option value="regularseason">Regular Season</option>
    <option value="playoffs">Playoffs</option>
  </select>
.block
  .block-header
    .block-header-row.padding-10
      .float-left.font-medium
        span.font-regular  
          | Playoff Series
          span.font-bold



      .float-right
        a#dddd.font-regular.underline(style='color: #0074cc' data-micromodal-trigger="modal-1")
          | Filter
        |  ·   
        a.font-regular.underline(style='color: #0074cc' data-micromodal-trigger="modal-1")
          | View
        |  ·   
        a.font-medium(style='color: #0074cc' data-micromodal-trigger="modal-1")
          | [Hide]

    .block-header-row.padding-10
      .float-left.font-medium
        span.font-regular  

          | test

  .block-body


