.section
  .section-header.font-medium
    <div class="team-logo-small">
    <img onerror="this.onerror=null; this.src='/images/statpit/nbalogo.png'" alt='' src='/images/statpit/nba_teams/<%= currentTeamAcronym %>.png' />
    </div>

    <div class="team-name-small"><%= currentTeamFullName %></div>
  .section-body
    table.stat-table.border-bottom-none
      thead
        tr.stat-tr.stat-tr-legend
          td.td-legend.width-50.padding-8 Name
          td.td-legend.padding-8 Leagues
          td.td-legend.padding-8 From-To

          td.td-legend.padding-8 POs*
          td.td-legend.stat-width-w.padding-8 CHIP^
      tbody
        <% _.each(historicalTeamNames, function(historicalTeam, index) { %>
        tr.stat-tr
          td.stat-td.font-size-10pt.text-align-left.font-regular.padding-8
            <%= historicalTeam.teamName %>
          td.stat-td.font-size-10pt.text-align-left.font-regular.padding-8
            <%= historicalTeam.leagues %>
          td.stat-td.font-size-10pt.text-align-left.font-regular.padding-8
            <%= historicalTeam.seasonFromYearBegin %>-<%= historicalTeam.seasonToYearEnd %>
          td.stat-td.font-size-10pt.text-align-left.font-regular.padding-8
            <%= historicalTeam.playoffs %>
          td.stat-td.font-size-10pt.text-align-left.font-regular.padding-8
            <%= historicalTeam.championships %>

        <% }) %> 