<td class="stat-td font-size-10pt text-align-left stat-font-medium padding-8">
  <div class="player-pic">
    <img onerror="this.onerror=null; this.src='/images/statpit/players/default.avif'" src="/images/statpit/players/<%= personId %>.png" alt="" />
  </div>

  <div class="player-name"><%= playerFirstName %> <%= playerLastName %></div>
</td>

<td class="stat-td font-size-10pt text-align-left stat-font-medium padding-8">

</td>