.section-header.font-medium
  <div class="team-logo-small">
  <img onerror="this.onerror=null; this.src='/images/statpit/nbalogo.png'" alt='' src='/images/statpit/seasons/last_updated/<%= currentTeamAcronym %>.png' />
  </div>

  <div class="team-name-small"><%= currentTeamFullName %></div>
.section-body
  table.stat-table.border-bottom-none
    thead
      tr.stat-tr.stat-tr-legend
        td.td-legend.width-50.padding-8 Season
        td.td-legend.padding-8 W
        td.td-legend.padding-8 L
        td.td-legend.padding-8 WL%
        td.td-legend.padding-8 Seeding
        td.td-legend.stat-width-w.padding-8 Playoffs
    thead
      <% _.each(seasons, function(season, index, value) { %>
      <% if (season.games_total >0 && (index == "1946-47")) { %>


      tr.stat-tr
        td.stat-td.font-size-10pt.text-align-left.font-regular.padding-8
          <%= index %>
        td.stat-td.font-size-10pt.text-align-left.font-regular.padding-8
          <%= season.games_won %>
        td.stat-td.font-size-10pt.text-align-left.font-regular.padding-8
          <%= season.games_lost %>
        td.stat-td.font-size-10pt.text-align-left.font-regular.padding-8
          | .500
        td.stat-td.font-size-10pt.text-align-left.font-regular.padding-8
          | -
          //- | #7 EAST     
        td.stat-td.font-size-10pt.text-align-left.font-regular.padding-8
          | -
          //- | Lost E. Conf. 1st Rd.
      <% } %>         
      <% }) %> 