.modal
  <select class="seasonType" name="seasonType" style="width: 100%">
    <option value="all">All</option>
    <option value="regularseason">Regular Season</option>
    <option value="playoffs">Playoffs</option>
  </select>
.block
  .block-header
    .block-header-row.padding-10
      .float-left.font-medium
        span.font-regular  
          | Games: 
          span.font-bold
            | <%= data.collection.length %> 


      .float-right
        a#dddd.font-regular.underline(style='color: #0074cc' data-micromodal-trigger="modal-1")
          | Filter


    .block-header-row.padding-10
      .float-left.font-medium
        span.font-regular  

          <% if (block.filter.isCurrentSeason) { %>
            | 2022-23
          <% } else { %>
          <%= block.filter.season %>  


          <% } %>  

          | : 


          <% if (block.filter.isAllGames) { %>
            | All Games
          <% } else { %>
          <%= block.filter.seasonType %>
          <% } %>  







    <% _.each(block.filter.teams, function(team, index) { %>
    .block-header-row.padding-10
      .team-logo-small
        <img onerror="this.onerror=null; this.src='/images/statpit/nbalogo.png'" alt='' src='/images/statpit/nba_teams/<%= team %>.png' />
      .team-name-small
        //- | <%= teamsStaticJSON[team].team_name %>


      .team-metadata.font-medium
        //- | (<%= metadata.teams.DET.total_wins %>-<%= metadata.teams.DET.total_losses %>)
    <% })%>
  .block-body

    .section
      .section-header.font-medium
        .float-left.font-medium
          | Metadata
        .float-right(style='color: #333')
          | [ 
          a.font-regular.underline(style='color: #0074cc' data-micromodal-trigger="modal-1")
            | List view
          | &nbsp;]
          |  ·   
          | [ 
          a.font-regular.underline(style='color: #0074cc' data-micromodal-trigger="modal-1")
            | Hide
          | &nbsp;]
      .section-body.font-regular

        .subdivision
          .subdivision-header.font-regular.font-bold
            | Matchups
          .subdivision-body

            table.border-bottom-none
              thead
                tr.stat-tr.stat-tr-legend
                  td.td-legend.padding-8 Team

                  td.td-legend.padding-8 Opp

                  td.td-legend.padding-8 G

                  td.td-legend.padding-8 Rcrd

                  td.td-legend.padding-8 Home

                  td.td-legend.padding-8 Away   

                  td.td-legend.padding-8 TmPPG          

                  td.td-legend.padding-8 OpPPG                                                                         


              tbody


                tr.stat-tr
                  td.stat-td.padding-8

                    .team-logo-small
                      <img onerror="this.onerror=null; this.src='/images/statpit/nbalogo.png'" alt='' src='/images/statpit/nba_teams/BOS.png' />
                    .team-name-small
                      | BOS

                  td.stat-td.padding-8

                    .team-logo-small
                      <img onerror="this.onerror=null; this.src='/images/statpit/nbalogo.png'" alt='' src='/images/statpit/nba_teams/MIA.png' />
                    .team-name-small
                      | MIA

                  td.stat-td.padding-8
                    | 7

                  td.stat-td.padding-8
                    | 2
                  td.stat-td.padding-8
                    | 5
                  td.stat-td.padding-8
                    | 4
                  td.stat-td.padding-8    
                    | 102.9
                  td.stat-td.padding-8    
                    | 108.3


        .subdivision

          .subdivision-header.font-regular.font-bold
            | Teams
          .subdivision-body

            table.border-bottom-none
              thead
                tr.stat-tr.stat-tr-legend
                  td.td-legend.padding-8 Team

                  td.td-legend.padding-8 G

                  td.td-legend.padding-8 OvrRcd

                  td.td-legend.padding-8 HomeRcd   

                  td.td-legend.padding-8 AwayRcd   

                  td.td-legend.padding-8 TmPPG          

                  td.td-legend.padding-8 OpPPG                                                                         


              tbody

                <% _.each(metadata.teams, function(team, value, key) { %>
                tr.stat-tr
                  td.stat-td.padding-8

                    .team-logo-small
                      <img onerror="this.onerror=null; this.src='/images/statpit/nbalogo.png'" alt='' src='/images/statpit/nba_teams/<%= value %>.png' />
                    .team-name-small
                      | <%= value %>
                  td.stat-td.padding-8
                    | <%= key[value].games_total %>

                  td.stat-td.padding-8
                    | <%= key[value].total_wins %>-<%= key[value].total_losses %>
                  td.stat-td.padding-8
                    | <%= key[value].home_wins %>-<%= key[value].home_losses %>
                  td.stat-td.padding-8
                    | <%= key[value].away_wins %>-<%= key[value].away_losses %>
                  td.stat-td.padding-8    
                    | 102.9
                  td.stat-td.padding-8    
                    | 108.3
                <% }) %>

        .subdivision

          .subdivision-header.font-medium
            | Venue
          .subdivision-body

            table.border-bottom-none
              tbody
                tr.stat-tr
                  td.stat-td.padding-8
                    |  Away Team Wins
                  td.stat-td.padding-8
                    |  34 / 84
                  td.stat-td.padding-8
                    |  20.6%               
                tr.stat-tr
                  td.stat-td.padding-8
                    |  Home Team Wins
                  td.stat-td.padding-8
                    |  50 / 84
                  td.stat-td.padding-8
                    |  69.4%                            



    .section
      .section-header.font-medium
        .float-left
          | Games
        .float-right
          a.font-medium(style='color: #0074cc' data-micromodal-trigger="modal-1")
            | [List View]
          |  ·   
          a.font-medium(style='color: #0074cc' data-micromodal-trigger="modal-1")
            | [Hide]
      .section-body
        table.stat-table.border-bottom-none
          tbody
            tr.stat-tr.stat-tr-legend
              td.td-legend.width-55.padding-8 Date
              td.td-legend.width-80.padding-8 Away
              td.td-legend.width-80.padding-8 Home
              td.td-legend.width-35.padding-8 Score
