td.stat-td.font-size-10pt.text-align-left.font-regular.padding-8
  .team-logo-small
    <img onerror="this.onerror=null; this.src='/images/statpit/nbalogo.png'" alt='' src='/images/statpit/seasons/2023-24/<%= awayTeam.teamTricode %>.png' />
  .team-name.font-medium
    | <%= awayTeam.teamTricode %> 

<td class="stat-td text-align-left font-size-10pt font-medium padding-8">
  .team-logo-small
    <img onerror="this.onerror=null; this.src='/images/statpit/nbalogo.png'" alt='' src='/images/statpit/seasons/2023-24/<%= homeTeam.teamTricode %>.png' />
  .team-name.font-medium
    | <%= homeTeam.teamTricode %>
</td>
<td class="stat-td text-align-left font-size-10pt font-medium padding-8">

</td>

<td class="stat-td text-align-left font-size-10pt font-medium padding-8">

</td>




